/* UserManagement.css */
.user-management-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user-management-navbar {
    background-color: #f5fd0110;
    color: rgb(17, 25, 240);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-management-navbar-left {
    background-color: #025ff5;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    transition: background-color 0.3s;
}

.user-management-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-management-logout-button {
    background-color: #ff4d4f;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    transition: background-color 0.3s;
}

.user-management-sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    padding: 10px;
    position: fixed;
    height: 100%;
    top: 78px;
}

.user-management-menu {
    list-style: none;
    padding: 0;
}

.user-management-menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.user-management-menu-item:hover {
    background-color: #495057;
}

.user-management-menu-item svg {
    margin-right: 8px;
}

.user-management-content {
    margin-left: 220px;
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    margin: 20px 0;
}

.selected-row {
    background-color: #48dfd7;
}


th {
    background-color: #03adf6;
}

th.role-column {
    width: 100px;
}

th.actions-column {
    width: 150px;
}

select {
    width: 100%;
    padding: 4px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styling */
.user-management-form {
    width: 90%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #000000;
}

.user-management-form input,
.user-management-form select {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-management-form button {
    width: 100%;
    padding: 10px;
    background-color: #1275d8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.user-management-form button:hover {
    background-color: #0056b3;
}

.actions-button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions-button.edit {
    background-color: #28a745;
}

.actions-button.edit:hover {
    background-color: #218838;
}

.actions-button.delete {
    background-color: #dc3545;
}

.actions-button.delete:hover {
    background-color: #c82333;
}

.add-user-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}